@media screen and (max-width: 1600px) {
  body {
    font-size: 22px;
  }
  .container {
    max-width: 1420px;
  }
  .main-header .menu-wrapper .form-wrapper {
    width: 45%;
  }
  .main-header .menu-wrapper .main-menu ul li a {
    font-size: 24px;
  }
  .main-header .menu-wrapper .form-wrapper .form-control {
    height: 40px;
    line-height: 40px;
    font-size: 22px;
  }
  .main-header .menu-wrapper .form-wrapper button {
    width: 40px;
    height: 40px;
  }
  .section-control.specials-products .banner-wrapper .banner-top .txt-box {
    font-size: 15px;
  }
  .section-control.specials-products .banner-wrapper .banner-bottom .txt-box {
    font-size: 16px;
  }
  .section-control.products .products-slide .nav-products .nav-control .nav-slide p {
    font-size: 24px;
  }
  .section-control.products .product-item .item-wrapper {
    font-size: 22px;
  }
  .button-control .btn-view {
    font-size: 22px;
  }
  .section-control.facility .facility-wrapper .inner-wrapper .txt-box {
    font-size: 22px;
  }
  .section-control.data-and-ai .content-wrapper .txt-box {
    font-size: 36px;
  }
  .section-control.data-and-ai .content-wrapper {
    padding: 90px 0 100px;
  }
  .title-box {
    font-size: 30px;
    margin-bottom: 26px;
  }
  .section-control.news-and-vdo .news-item .txt-wrapper {
    font-size: 24px;
  }
  .section-control.news-and-vdo .vdo-item .txt-box {
    font-size: 20px;
  }
  .section-control.news-and-vdo .vdo-item .play-vdo::after {
    width: 50px;
    height: 50px;
    background-size: 100% auto;
  }
  .section-control.industries .title-group {
    font-size: 32px;
  }
  .section-control.industries .category-item {
    font-size: 22px;
  }
  .section-control.counter-number ul.number-control li.number-wrapper {
    font-size: 36px;
  }
  .main-footer .news-letter h3 {
    font-size: 24px;
    width: 27%;
  }
  .main-footer .form-wrapper {
    width: 73%;
  }
  .main-footer .contact {
    font-size: 34px;
  }
  .main-footer .figure {
    max-width: 250px;
  }
  .main-footer .logo {
    max-width: 220px;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
