@main: #242b33;
@invert: #fff;
@base-bg: #1f252b;
@sub-bg: #f6f6f6;
@act-1: #fcb040;
@act-2: #eb2326;
@act-3: #fe311a;

.trans(@time: 0.3s) {
	-webkit-transition: all @time ease-in-out 0s;
	-moz-transition: all @time ease-in-out 0s;
	-o-transition: all @time ease-in-out 0s;
	-ms-transition: all @time ease-in-out 0s;
	transition: all @time ease-in-out 0s;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
}

.delay(@time: 0.3s) {
	-webkit-transition-delay: @time;
	transition-delay: @time;
}

.rotate(@deg: 180deg) {
	-ms-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	transform: rotate(@deg);
}

@media screen and (max-width: 1600px) {
	body {
		font-size: 22px;
	}

	.container {
		max-width: 1420px;
	}

	.main-header .menu-wrapper .form-wrapper {
		width: 45%;
	}

	.main-header .menu-wrapper .main-menu ul li a {
		font-size: 24px;
	}

	.main-header .menu-wrapper .form-wrapper .form-control {
		height: 40px;
		line-height: 40px;
		font-size: 22px;
	}

	.main-header .menu-wrapper .form-wrapper button {
		width: 40px;
		height: 40px;
	}

	.section-control.specials-products .banner-wrapper .banner-top .txt-box {
		font-size: 15px;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom .txt-box {
		font-size: 16px;
	}

	.section-control.products .products-slide .nav-products .nav-control .nav-slide p {
		font-size: 24px;
	}

	.section-control.products .product-item .item-wrapper {
		font-size: 22px;
	}

	.button-control .btn-view {
		font-size: 22px;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .txt-box {
		font-size: 22px;
	}

	.section-control.data-and-ai .content-wrapper .txt-box {
		font-size: 36px;
	}

	.section-control.data-and-ai .content-wrapper {
		padding: 90px 0 100px;
	}

	.title-box {
		font-size: 30px;
		margin-bottom: 26px;
	}

	.section-control.news-and-vdo .news-item .txt-wrapper {
		font-size: 24px;
	}

	.section-control.news-and-vdo .vdo-item .txt-box {
		font-size: 20px;
	}

	.section-control.news-and-vdo .vdo-item .play-vdo::after {
		width: 50px;
		height: 50px;
		background-size: 100% auto;
	}

	.section-control.industries .title-group {
		font-size: 32px;
	}

	.section-control.industries .category-item {
		font-size: 22px;
	}

	.section-control.counter-number ul.number-control li.number-wrapper {
		font-size: 36px;
	}

	.main-footer .news-letter h3 {
		font-size: 24px;
		width: 27%;
	}

	.main-footer .form-wrapper {
		width: 73%;
	}

	.main-footer .contact {
		font-size: 34px;
	}

	.main-footer .figure {
		max-width: 250px;
	}

	.main-footer .logo {
		max-width: 220px;
	}

	.pageinner-wrapper .list-products.co-buyers .co-profile,
	.pageinner-wrapper .list-products ul li .co-detail {
		font-size: 20px;
	}

	.pageinner-wrapper .nav-type .nav-control .nav-slide a {
		font-size: 24px;
	}

	.pageinner-wrapper .list-products.co-sort {
		font-size: 20px;
	}
}

@media screen and (max-width: 1440px) {

	body {
		font-size: 22px;
	}

	.container {
		max-width: 1300px;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu > li .nav-user i.ico-user {
		width: 18px;
		height: 18px;
	}

	.main-header .logo-wrapper {
		width: 22%;
	}

	.main-header .menu-wrapper {
		width: 78%;
	}

	.main-header .logo-wrapper .logo {
		max-width: 180px;
	}

	.main-header .menu-wrapper .main-menu ul li a {
		font-size: 22px;
	}

	.section-control.specials-products .banner-wrapper .banner-top .txt-box {
		font-size: 12px;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom .txt-box {
		font-size: 14px;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom .txt-box p {
		font-size: 1.2em;
	}

	.section-control.products .product-item .item-wrapper .image {
		max-width: 270px;
	}

	.button-control .btn-view {
		font-size: 20px;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .txt-box {
		font-size: 22px;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .txt-box {
		padding: 55px;
		margin-top: 10px;
	}

	.section-control.data-and-ai .content-wrapper .txt-box {
		font-size: 32px;
	}

	.section-control.news-and-vdo .news-item .txt-wrapper {
		font-size: 22px;
	}

	.section-control.industries .title-group {
		font-size: 28px;
	}

	.main-footer {
		background-size: auto 190px;
	}

	.main-footer .figure {
		right: 19%;
	}

	.pageinner-wrapper .product-item .item-wrapper {
		font-size: 28px;
	}

	.pageinner-wrapper .product-item .item-wrapper .image {
		max-width: 120px;
	}

	.pageinner-wrapper .cover-image .cover-title h3 {
		font-size: 55px;
	}

	.pageinner-wrapper .work-wrapper .acc-form .acc-content .content-wrapper {
		font-size: 20px;
	}

	.pageinner-wrapper .work-wrapper .acc-form .acc-head p {
		font-size: 22px;
	}

	.pageinner-wrapper h3.title-inner,
	.pageinner-wrapper .block-fullwidth .block-wrapper .txt-box {
		font-size: 24px;
	}

	.pageinner-wrapper .list-our {
	    font-size: 22px;
	}

	.pageinner-wrapper .list-our .topic .icons {
		width: 80px;
		height: 80px;
	}

	.pageinner-wrapper .block-fullwidth .block-wrapper .txt-box {
		padding: 80px 0;
	}
}

@media screen and (max-width: 1200px) {
	body {
		font-size: 16px;
	}

	.main-header .menu-wrapper .main-menu ul li a {
		font-size: 18px;
	}

	.main-header .menu-wrapper .form-wrapper .form-control {
		height: 34px;
		line-height: 34px;
		font-size: 18px;
	}

	.main-header .menu-wrapper .form-wrapper button {
		width: 34px;
		height: 34px;
	}

	.main-header .menu-wrapper .form-wrapper {
		width: 40%;
		padding-left: 40px;
	}

	.main-header .menu-wrapper .social {
		padding-top: 3px;
		right: 0;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu > li {
		padding: 0 20px;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu > li .nav-user i.ico-user {
		width: 15px;
		height: 15px;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu > li::after {
		top: 15%;
	}

	.main-header .logo-wrapper .logo {
		max-width: 150px;
	}

	.section-control.specials-products .banner-wrapper .banner-top .txt-box {
		font-size: 10px;
	}

	.section-control.specials-products .banner-wrapper .image-box {
		max-width: 350px;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .txt-box {
		padding: 10px 20px 10px 45px;
		font-size: 18px;
		width: 65%;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .txt-box .topic h3 {
		height: 3em;
	}

	.button-control .btn-view {
		font-size: 16px;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .image {
		top: 8px;
		left: 8px;
	}

	.section-control.data-and-ai .content-wrapper .txt-box {
		font-size: 26px;
	}

	.section-control.data-and-ai .content-wrapper {
		padding: 60px 0 70px;
	}

	.section-control.news-and-vdo .news-item .txt-wrapper {
		font-size: 20px;
		line-height: 1;
	}

	.section-control.news-and-vdo .news-item .txt-wrapper a {
		overflow: hidden;
		height: 1.2em;
		list-style: none;
	}

	.section-control.news-and-vdo {
		padding: 40px 0;
	}

	.title-box {
		font-size: 26px;
		margin-bottom: 20px;
	}

	.section-control.industries .title-group {
		font-size: 22px;
	}

	.section-control.industries .category-item {
		font-size: 18px;
	}

	.section-control.counter-number ul.number-control li.number-wrapper {
		font-size: 30px;
	}

	.main-footer .news-letter h3 {
		font-size: 22px;
		width: 40%;
	}

	.main-footer .form-wrapper {
		width: 60%;
	}

	.main-footer .social {
		padding-left: 0;
	}

	.main-footer .form-wrapper .form-control {
		font-size: 20px;
	}

	.main-footer .contact {
		font-size: 30px;
	}

	.main-footer {
		background-size: auto 140px;
		padding-bottom: 150px;
	}

	.main-footer .figure {
		right: 26%;
	}

	.main-footer .logo {
		max-width: 180px;
		bottom: 25px;
	}

	.main-footer .figure {
		max-width: 200px;
		right: 25%;
	}

	.section-control.specials-products {
		padding: 30px 0;
	}

	.section-control.products .products-slide .nav-products .nav-control {
		width: 100%;
	}

	.section-control.products {
		padding-bottom: 30px;
	}

	.section-control.products .product-item .item-wrapper .item-name {
		line-height: 1;
	}

	.pageinner-wrapper .product-item .item-wrapper .image {
		max-width: 80px;
	}

	.pageinner-wrapper .product-item .item-wrapper {
		font-size: 22px;
	}

	.pageinner-wrapper .product-item .item-wrapper .detail p {
		font-size: 0.8em;
		line-height: 1;
	}

	.pageinner-wrapper .cover-image .cover-title h3 {
		font-size: 40px;
	}

	.pageinner-wrapper .nav-type .nav-control {
		width: 100%;
	}

	.pageinner-wrapper .cd-accordion-menu ul li a {
		font-size: 18px;
		line-height: 1;
	}

	.pageinner-wrapper .list-products.co-sort {
		font-size: 18px;
	}

	.pageinner-wrapper .list-products.co-buyers .co-profile {
		padding-left: 100px;
	}

	.pageinner-wrapper .list-products.co-buyers .co-profile .image {
		width: 85px;
	}

	.pageinner-wrapper .list-products.co-buyers .co-profile a,
	.pageinner-wrapper .list-products.co-buyers .co-detail > p {
		line-height: 1;
	}

	.pageinner-wrapper .list-products.co-buyers li {
		min-height: 100px;
		line-height: 1;
	}

	.pageinner-wrapper .list-products.co-buyers .co-profile, .pageinner-wrapper .list-products ul li .co-detail {
		font-size: 18px;
	}

	.pageinner-wrapper .cd-accordion-menu label {
		font-size: 20px;
	}

	.form-theme .btn-browse [class^="att-"] {
		padding: 10px 50px 10px 20px;
		font-size: 20px;
	}

	.form-theme .btn-browse [class^="att-"] .icon-plus {
		right: 20px;
	}

	.button-control button.btn-submit {
		padding: 10px 40px;
		font-size: 20px;
	}

	.form-theme .txt-description {
		font-size: 18px;
	}

	.pageinner-wrapper .contact-wrapper {
	    font-size: 20px;
	}

	.pageinner-wrapper .contact-us #map {
		height: 300px;
	}

	.pageinner-wrapper .block-fullwidth .block-wrapper .txt-box {
		padding: 30px 0;
	}

	.pageinner-wrapper h3.title-inner, .pageinner-wrapper .block-fullwidth .block-wrapper .txt-box {
	    font-size: 22px;
	}

	.pageinner-wrapper h3.title-our {
		font-size: 50px;
	}

	.pageinner-wrapper .list-our .topic .icons {
	    width: 60px;
	    height: 60px;
	}

	.pageinner-wrapper .list-our .topic {
		padding-left: 80px;
	}

	.pageinner-wrapper .list-our .topic h3 {
		font-size: 1.2em;
	}

	.pageinner-wrapper .our-service [class^="col-"] {
	    padding: 0 15px;
	}

	.pageinner-wrapper .our-service .row {
	    margin: 0 -15px;
	}
}

@media screen and (max-width: 991px) {
	.main-header .menu-wrapper .top-menu ul.user-menu > li {
		padding: 0 15px;
	}

	.main-header .menu-wrapper .form-wrapper {
		padding-left: 0;
		width: 38%;
	}

	.section-control.specials-products .banner-wrapper .banner-top {
		padding-top: 15%;
	}

	.main-header .logo-wrapper {
		width: 15%;
	}

	.main-header .menu-wrapper {
		width: 100%;
	}

	.main-header .logo-wrapper {
		width: 15%;
		position: absolute;
		z-index: 900;
		left: 15px;
		top: 15px;
	}

	.main-header .menu-wrapper .top-menu {
		margin-bottom: 5px;
	}

	.main-header .menu-wrapper .top-menu {
		padding-left: 120px;
	}

	.main-header .menu-wrapper .social {
		padding: 0 10px;
	}

	.main-header .logo-wrapper .logo {
		max-width: 90px;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu > li {
		padding: 0 10px;
	}

	.main-header .menu-wrapper .top-menu .language button span:first-child {
		font-size: 16px;
	}

	.main-header .menu-wrapper .main-menu ul::after {
		display: none;
	}

	.main-header .menu-wrapper .main-menu ul li:last-child {
		border-radius: 0 6px 0 0;
		overflow: hidden;
	}

	.section-control.specials-products .banner-wrapper.expand .banner-top .image-box {
		top: 10px;
	}

	.section-control.specials-products .banner-wrapper .banner-top .txt-box {
		left: 30px;
	}

	.section-control.specials-products .banner-wrapper .banner-top .txt-box.boxRight {
		right: 30px;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom .txt-box {
		left: 30px;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom .txt-box {
		font-size: 14px;
		width: 50%;
	}

	.section-control.specials-products .banner-wrapper.expand .banner-bottom .banner-left .image-box,
	.section-control.specials-products .banner-wrapper.expand .banner-bottom .banner-right .image-box {
		left: 60%;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom [class^="banner-"] {
		width: 100%;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom [class^="banner-"] .inner-wrapper {
		padding-top: 35%;
	}

	// .section-control.specials-products .banner-wrapper {
	// 	display: block;
	// 	float: none;
	//     max-width: 80%;
	//     margin: 0 auto;
	// }

	.section-control.products .product-item {
		width: 50%;
		margin-bottom: 20px;

		.button-control .btn-view {
			margin-top: 0;
		}
	}

	.section-control.specials-products .banner-wrapper .image-box {
		max-width: 300px;
	}

	.section-control.specials-products .banner-wrapper .banner-top {
		padding-top: 15%;
	}

	.section-control.specials-products .banner-wrapper .banner-top::after {
		border-width: 0 0 200px 150px;
	}

	.section-control.facility .facility-wrapper .inner-wrapper {
		width: 100%;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .image-wrapper {
		margin: 0 auto 30px;
	}

	.section-control.specials-products {
		padding: 30px;
	}

	.section-control.products {
		padding: 0 30px 30px;
	}

	.section-control.facility {
		padding: 30px;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .image-wrapper.boxRight {
		display: inline-block;
		margin: 0;
		width: 23%;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .txt-box {
		padding: 0 60px 0 0;
		width: 80%;

		.topic h3 {
			height: 2em;
		}
	}

	.section-control.facility .facility-wrapper .inner-wrapper .image-wrapper.boxRight {
		width: 20%;

		&::after {
			content: "";
			position: absolute;
			left: -30px;
			top: 0;
			height: 100%;
			width: 1px;
			background: #dedede;
		}
	}

	.section-control.news-and-vdo .vdo-wrapper {
		padding: 0;
	}

	.section-control.news-and-vdo {
		padding: 30px;
	}

	.section-control.news-and-vdo .news-item .txt-wrapper {
		font-size: 22px;
	}

	.section-control.specials-products .banner-wrapper .banner-top .txt-box.boxRight {
		display: none;
	}

	.section-control.specials-products .banner-wrapper .banner-top .image-box {
		margin-left: 15%;
		width: 350px;
	}

	.section-control.news-and-vdo .vdo-wrapper.expand .title-box h3 {
		.delay(0s);
	}

	.section-control.news-and-vdo .vdo-wrapper.expand [class^="col-"]:nth-child(1) .vdo-item {
		.delay(0.3s);
	}

	.section-control.news-and-vdo .vdo-wrapper.expand [class^="col-"]:nth-child(2) .vdo-item {
		.delay(0.5s);
	}

	.section-control.news-and-vdo .vdo-wrapper.expand [class^="col-"]:nth-child(3) .vdo-item {
		.delay(0.7s);
	}

	.section-control.news-and-vdo .vdo-wrapper.expand .button-control {
		.delay(0.9s);
	}

	.section-control.industries {
		padding: 50px 0;
	}

	.section-control.industries .title-group {
		font-size: 18px;
	}

	.main-footer .form-wrapper {
		width: 100%;
	}

	.main-footer .news-letter h3 {
		margin-bottom: 5px;
		width: 100%;
	}

	.main-footer .menu-wrapper ul li {
		width: 33.33333%;
	}

	.main-footer .menu-wrapper ul li .nav-menu {
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}

	.main-footer .menu-wrapper .nav-menu {
		width: 25%;
	}

	.pageinner-wrapper .category-control {
		width: 33.333333%;

		&:nth-child(5n+1) {
			clear: none;
		}

		&:nth-child(3n+1) {
			clear: both;
		}
	}

	.main-footer .menu-wrapper .nav-menu {
		width: 33.3333%;
	}

	.main-footer .menu-wrapper .nav-menu:nth-child(5n+1) {
		clear: none;
	}

	.main-footer .menu-wrapper .nav-menu:nth-child(3n+1) {
		clear: both;
	}

	.menu-responsive {
		.trans(0.5s);
		position: fixed;
		top: -50px;
		visibility: hidden;
		left: 0;
		max-height: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 9999;
		width: 100%;
		padding: 40px;
		background-color: rgba(255, 255, 255, 0.95);

		&.active {
			top: 0;
			visibility: visible;
			max-height: 100%;
		}
	}

	.popup-close {
		display: inline-block;
	}

	.pageinner-wrapper .nav-type {
		margin-bottom: 0;
	}

	.pageinner-wrapper .nav-type .nav-control .nav-slide a {
		padding-bottom: 10px;
	}

	.nav-group {
		display: inline-block;
	}

	.pageinner-wrapper .title-page {
	    font-size: 22px;
	    padding-right: 70px;
	    position: relative;
	}

	.pageinner-wrapper .nav-type .nav-control .nav-slide {
		display: none;

		&.active {
			display: inline-block;
			width: auto;
		}
	}

	.btn-back {
		display: inline-block;
	}

	.pageinner-wrapper .title-page h3 {
		margin: 5px 0;
	}

	.popup-menu {
		display: inline-block;
	}

	.pageinner-wrapper h3.title-inner {
		font-size: 22px;
	}

	.pageinner-wrapper .block-fullwidth .image {
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
	#menu-toggle {
		display: block;
	}

	.main-header .logo-wrapper {
		width: 100%;
		text-align: center;
		position: relative;
		top: 0;
		left: 0;
		padding: 10px 0;
	}

	.main-header .logo-wrapper .logo {
		max-width: 150px;
		display: inline-block;
	}

	.main-header .menu-wrapper .main-menu {
		display: none;
	}

	.main-header .menu-wrapper .top-menu {
		padding-left: 0;
	}

	.main-header .menu-wrapper .form-wrapper {
		padding: 0 15px;
		width: 100%;
	}

	.main-header .menu-wrapper .form-wrapper .form-control {
		width: 87%;
	}

	.main-header .menu-wrapper .top-menu .language .dropdown-menu {
		min-width: inherit;
		border: 1px solid #dedede;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu {
		padding: 5px 0 0;
		left: -60px;
		position: relative;
	}

	.main-header .menu-wrapper .top-menu .language .dropdown-menu a {
		padding: 5px;
	}

	.main-header .menu-wrapper .social {
		padding-left: 30px;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu > li {
		padding: 0px 10px;
	}

	.main-header .menu-wrapper .form-wrapper {
		margin-bottom: 15px;
	}

	.main-header .menu-wrapper {
		.trans(0.35s);
		opacity: 0;
		visibility: hidden;
		left: 100px;
		top: 28px;
		position: absolute;
		z-index: 999999;

		&.active {
			left: 0;
			visibility: visible;
			opacity: 1;
		}
	}

	#menu-toggle {
		top: 60px;
		right: auto;
		left: 15px;
		width: 40px;
		height: 40px;
	}

	#menu-toggle #cross {
		width: 40px;
		height: 40px;
		top: 0;
		left: 0;
	}

	.menu-onMobile {
		top: 110px;
		z-index: 500;
		max-height: 100%;
		padding-bottom: 15px;
		overflow-y: auto;

		&::after {
			content: "";
			position: fixed;
			height: 10px;
			width: 100%;
			bottom: 0;
			left: 0;
			background: url('../images/home/line-bg.jpg') 35% center no-repeat;
		}
	}

	#menu-toggle #hamburger span {
		top: 7px;
		left: 6px;
	}

	.main-header .menu-wrapper.active {
		left: 60px;
	}

	.main-header .menu-wrapper .form-wrapper {
		left: -60px;
	}

	body.noScroll {
		overflow: hidden;
	}

	.main-header {
		padding: 10px 0;
	}

	.main-header .menu-wrapper {
		top: 15px;
	}

	.section-control.industries {
		display: none;
	}

	.industries-mobile.bg-attachment {
		display: inline-block;
	}

	.menu-responsive {
		.trans(0.5s);
		position: fixed;
		top: -50px;
		visibility: hidden;
		left: 0;
		max-height: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 9999;
		width: 100%;
		padding: 40px;
		background-color: rgba(255, 255, 255, 0.95);

		&.active {
			top: 0;
			visibility: visible;
			max-height: 100%;
		}
	}

	.popup-close {
		display: inline-block;
	}

	.pageinner-wrapper .nav-type {
		margin-bottom: 0;
	}

	.pageinner-wrapper .nav-type .nav-control .nav-slide a {
		padding-bottom: 10px;
	}

	.nav-group {
		display: inline-block;
	}

	.pageinner-wrapper .title-page {
	    font-size: 22px;
	    padding-right: 70px;
	    position: relative;
	}

	.pageinner-wrapper .list-products.co-sort li .list-type a:nth-child(3n+1) {
		clear: none;
	}

	.pageinner-wrapper .list-products.co-sort li .list-type a:nth-child(2n+1) {
		clear: both;
	}

	.pageinner-wrapper .list-products.co-sort li .list-type a {
		width: 50%;
	}

	.pageinner-wrapper .list-products ul li .co-profile {
		width: 100%;
	}

	.pageinner-wrapper .list-products.co-buyers .co-profile {
		min-height: 85px;
	}

	.pageinner-wrapper .list-products ul li .co-detail {
		width: 100%;
	}

	.pageinner-wrapper .contact-us #map {
		height: 300px;
	}
}

@media screen and (max-height: 420px) {
	.main-header .menu-wrapper .form-wrapper .form-control {
		width: 92.5%;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu  {
		left: 0;
		float: left;
	}

	.main-header .menu-wrapper .top-menu ul.user-menu > li {
		padding: 0px 20px;
	}

	.section-control.news-and-vdo [class^="col-"] [class^="col-"] {
		width: 50%;
		float: left;
	}

	.section-control.news-and-vdo .vdo-wrapper .vdo-control [class^="col-"] {
		width: 33.33333%;
	}
}

@media screen and (max-width: 420px) {
	.main-banner .image {
		padding-top: 133.33%;
	}

	.section-control.specials-products {
		padding: 30px 0;
	}

	.section-control.specials-products .banner-wrapper .banner-top .txt-box {
		font-size: 10px;
	}

	.section-control.specials-products .banner-wrapper .banner-top {
		padding-top: 55%;

		&::after {
			display: none;
		}
	}

	.section-control.specials-products .banner-wrapper .banner-top .image-box {
		width: 200px;
		top: auto;
		bottom: -50px;
	}

	.section-control.specials-products .banner-wrapper.expand .banner-top .image-box {
		top: auto;
		bottom: 0;
	}

	.section-control.specials-products .banner-wrapper .banner-top .txt-box {
		left: 15px;
		top: 15px;
		padding-top: 0;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom [class^="banner-"] .inner-wrapper {
		padding-top: 50%;
	}

	.section-control.specials-products .banner-wrapper.expand .banner-bottom .banner-left .txt-box > p {
		display: none;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom .banner-left .txt-box {
		left: auto;
		right: 0;
		padding: 0 10px;
	}

	.section-control.specials-products .banner-wrapper .banner-bottom .banner-left .image-box {
		left: 100px;
		max-width: 50%;
	}

	.section-control.specials-products .banner-wrapper.expand .banner-bottom .banner-left .image-box {
		left: 10px;
	}

	.section-control.products .product-item {
		width: 100%;
	}

	.section-control.products .products-slide .nav-products .nav-control {
		display: none;
	}

	.section-control.products .products-slide .category-name {
		display: inline-block;
	}

	.section-control.products .products-slide .slick-prev.slick-arrow, .section-control.products .products-slide .slick-next.slick-arrow {
		display: inline-block !important;
	}

	.section-control.specials-products .banner-wrapper.expand .banner-bottom .banner-right .txt-box p {
		display: none;
	}

	.section-control.products {
		padding: 0 15px 30px;
	}

	.section-control.products .products-slide.expand .nav-products {
		display: none;
	}

	.section-control.facility,
	.section-control.news-and-vdo {
		padding: 20px 0;
	}

	.section-control.data-and-ai .content-wrapper .txt-box {
		font-size: 23px;
	}

	.section-control.facility .facility-wrapper .inner-wrapper .txt-box {
		padding: 0;
		width: 100%;
	}

	.section-control.facility .facility-wrapper.expand .inner-wrapper .image-wrapper.boxRight {
		display: none;
	}

	.section-control.facility .facility-wrapper.expand .inner-wrapper .button-control {
		text-align: center;
	}

	.section-control.data-and-ai .content-wrapper .txt-box p {
		display: none;
	}

	.section-control.counter-number ul.number-control {
		padding: 0;
	}

	.section-control.counter-number ul.number-control li.number-wrapper {
		width: 33.333333%;
		margin-bottom: 25px;
		padding-left: 15px;

		&:nth-child(1),
		&:nth-child(4) {
			padding-left: 0;
		}
	}

	.section-control.counter-number ul.number-control li.number-wrapper {
		font-size: 34px;
	}

	.main-footer .news-letter h3 {
		font-size: 24px;
		text-align: center;
		margin-bottom: 10px;
	}

	.main-footer .figure {
		max-width: 220px;
		right: 45%;
	}

	.main-footer .social {
		width: 25%;
	}

	.main-footer .contact {
		width: 75%;
	}

	.main-footer .menu-wrapper .nav-menu {
		width: 50%;
		margin-bottom: 5px;

		&:nth-child(2n+1) {
			clear: both;
		}

		&:nth-child(5n+1) {
			clear: none;
		}
	}

	.pageinner-wrapper .category-control {
		width: 50%;

		&:nth-child(5n+1) {
			clear: none;
		}

		&:nth-child(3n+1) {
			clear: none;
		}

		&:nth-child(2n+1) {
			clear: both;
		}
	}

	.pageinner-wrapper .cover-image {
		margin-bottom: 30px;
	}

	.pageinner-wrapper .cover-image .hilight {
		display: none;
	}

	.pageinner-wrapper .cover-image .image {
		top: 0;
		left: 0;
		height: 130px;

		img {
			position: absolute;
			height: 100%;
			width: auto;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}

	.pageinner-wrapper .cover-image .cover-title h3 {
		font-size: 26px;
		padding: 5px 20px;
	}

	.pageinner-wrapper .cover-image .cover-title {
		left: -15px;
		border-radius: 0 4px 4px 0;
	}

	.main-footer .menu-wrapper .nav-menu:nth-child(3n+1) {
		clear: none;
	}

	.pageinner-wrapper .list-products.co-sort li .list-type a:nth-child(2n+1) {
	    clear: none;
	}

	.pageinner-wrapper .list-products.co-sort li .list-type a {
	    width: 100%;
	}

	.pageinner-wrapper .list-products ul li .co-profile .image {
	    display: block;
	    margin: 0 auto;
	}

	.pageinner-wrapper .contact-us #map {
		left: 0;
		right: 0;
	}

	.pageinner-wrapper .cover-image.contact-us .cover-title {
		left: 0;
	}

	.pageinner-wrapper .block-fullwidth .block-wrapper .txt-box h3 {
		font-size: 2em;
	}

	.pageinner-wrapper .block-fullwidth .block-wrapper .txt-box {
		width: 100%;
	}

	.pageinner-wrapper .block-fullwidth .image {
	    width: 100%;
	    opacity: 0.3;
	}

	.pageinner-wrapper .list-our .topic {
		margin-bottom: 0;
	}

	.pageinner-wrapper h3.title-our {
		margin: 20px 0 10px;
	}
}